{% extends 'base.html' %}

{% block main %}

Banco de horas


<br>
    {% for registro_re in object_list %}

         <a href="{% url 'update_hora_extra_base' registro_re.id %}">{{ registro_re }}</a>

         <a href="{% url 'delete_hora_extra' registro_re.id %}">Deletar</a>
        <br>
    {% endfor %}
    {% if not object_list %}
        <h2>Não existem registros de horas no banco de dados</h2>
    {% endif %}
     <a href="{% url 'create_hora_extra' %}" class="btn btn-primary">Novo registro</a>
     <a href="{% url 'exportar_csv' %}" class="btn btn-primary">Exportar Csv</a>
     <a href="{% url 'exportar_excel' %}" class="btn btn-primary">Exportar Excel</a>

{% endblock %}